html { height: 100%;}
body { height: 100%; margin:0!important; }

body.open{
  
  &.site-menu{
  	@include media(xsmall-only){
	    overflow-y:hidden;
  	}
  }

  &:not(.site-menu){
  	@include media(small-down){
	    overflow-y:hidden;
  	}
  }
  
}