html { height: 100%; overflow:auto; }
body { height: 100%; }

.light-background{
	background-color:$light-background;
}

.de-emphasize{
	font-weight:400;
}

.loading{
	@include animation(rotate 1s linear infinite)
}

@include keyframes(rotate) {
  from {
    @include transform(rotate(0));
    @include transform-origin(100% 100%);
  }
  to {
    @include transform(rotate(360deg));
	@include transform-origin(100% 100%);
  }
}

.transition-enter {
  opacity: 0.01;
}

.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.transition-leave {
  opacity: 1;
}

.transition-leave.transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.transition-appear {
   opacity: 0.01;
}

.transition-appear.transition-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.fRight{
  float:right;
}
.fLeft{
  float:left;
}