/* Styleguide */
// Grays
$heading-color: #1b1b1b;
$body-color: #51504f;
$soft-label-color: #6a696a;
$meta-color: #b4b4b4; 

// Greens 
$dark-green: #528f4b;
$green: #83ae03;
$light-green: #aec03f;

// Backgrounds
$light-background: #f1f0f0;

// Stars rating
$star-color:#eba600;

// Boxes
$box-shadow:#969696;
/* \Styleguide */