.header-container{
	&.home-page{
		background-image:url('../graphics/bg/home-bg.jpg');
		background-size:cover;
		background-position:center center;
	}

	&:not(.home-page){
		a, button{
			color:$body-color!important;
		}

		@include media-query(48em){
			& + .search-container{
				display:none;
			}
		}
	}
}