.cta{
	display:inline-block;
	font-size:em(18);

	border:none;
	padding:7px 20px;

	@include transition(all 0.3s ease);

	i{
		margin-right:10px;
	}

	&:disabled,
	&:disabled:hover{
		opacity: 0.5!important;
	}

	&.primary{
		color:white;
		background-color:$green;

		&.outline{
			color:$green;
			border-color:$green;

			&:hover{
				background-color:$green;
				color:white;
			}
		}

		&.no-bg{
			color:$green;
			border-color:$green;
		}

		&:hover{
			opacity: 0.8;
			text-decoration:none;
		}
	}

	&.secundary{
		color:white;
		background-color:$light-green;

		&.outline{
			border-color:$light-green;
		}

		&.no-bg{
			color:$light-green;
			border-color:$light-green;
		}
	}

	&.white{
		color:$soft-label-color;
		background-color:white;

		&.outline{
			color:white;
			border-color:white;

			&:hover{
				background-color:white;
				color:$soft-label-color;
			}
		}

		&.no-bg{
			color:white;
			border-color:white;
		}

		&:hover{
			opacity: 0.8;
			text-decoration:none;
		}
	}

	&.no-bg{
		background:none;
		color:$green;

		&:hover{
			text-decoration: underline!important;
		}
	}

	&.small{
		font-size:em(14);
		padding:5px 10px;
	}

	&.outline{
		background:none;
		border:1px solid;
	}
}