.search-form{
	width:100%;
	margin-bottom:40px;

	input,
	select,
	button{
		height:35px;
		width:100%;
		margin-bottom:10px!important;
	}
}

.filter-container{
	.search-form{
		margin-bottom:30px;
		padding-bottom:15px;
		border-bottom:1px solid $meta-color;
	}
}

@include media-query(75em){
	.search-container .cta i{
		display:none;
	}
}

.header-container{
	&:not(.home-page){
		& + .search-container{
			background-color:$light-background;

			.search-form{
				margin:30px 0;

				input,
				button,
				select{
					margin-bottom:0!important;
				}
			}
		}
	}
}

.single-search{
	margin:0 auto;
	text-align:center;
	input[type='text']{
		width:auto;
		border-radius:0;
		height:36px;
	}

	.form-control{
		float:none;
	}

	margin-bottom:30px;

	@include media-query(62em){
		margin-top:30px;

		input[type='text']{
		    max-width: 160px;
		}
	}
}