.header-container{
	&.home-page{
		background-image:url('../graphics/bg/home-bg.jpg');
		background-size:cover;
		background-position:center center;
	}

	&.painel,
	&.perfil{
		background-image:url('../graphics/bg/account-bg.jpg');
		background-size:cover;
		background-position:center center;
	}

	&:not(.home-page):not(.painel):not(.perfil){
		.navbar-nav li a, 
		.navbar-nav li button,
		.user-identification:before{
			color:$body-color!important;
		}

		@include media(xsmall-only){
			& + .search-container{
				display:none;
			}
		}
	}
}

.light__page{
	background-color:$light-background;
}