.resources{
	&__filter{
		margin-top:30px;

		.collapse-container{
			margin-bottom:20px;
		}

		form{
			input[type="checkbox"],
			input[type="radio"]{
				& + label{
					@include user-select(none);
				}
			}
		}

		.filters-button{
			margin-bottom:15px;
			@include media-query-min(62em){
				display:none;
			}
		}

		@include media-query(62em){
			.backdrop.open{
		    	display:block;
		  	}
	  	}

		.filters__list{

			@include media-query(62em){
				position:fixed;
				top:0;
				right:0;
				background-color:white;
				height:100%;
				z-index:20;
				padding:15px;
				width:320px;

				@include transition(all 0.3s ease);
				@include transform(translate(100%,0));

				&.open{
					@include transform(translate(0,0));
				    overflow-y: auto;
				    margin:0;
				}
			}
			
			&--title{
				margin-bottom:30px;
				color:$green;

				i{
					margin-right:10px;
				}

				@include media-query-min(62em){
					display:none;
				}
			}

			&--close{
				.close{
					margin-top: 8px;
					padding-top:0;
				}

				@include media-query-min(62em){
					display:none;
				}
			}	

			&--submit{
				width:100%;

				button{
					width:100%;
					min-height:50px;
				}

				@include media-query-min(62em){
					display:none;
				}
			}		
			
			.collapse-container{
				button{
					display:block;
					width:100%;
					background:none;
					border:none;
					border-bottom:1px solid $meta-color;
					text-align:left;
					padding:0;
					padding-bottom:5px;
					margin-bottom:10px;

					color:$soft-label-color;

					i{
						float:right;
					    margin-top: 5px;
					}
				}
			}
			
		}

		label{
			font:{
				family: $opensans;
				weight:400;
			}

			@include font-size(14px);
			padding-left:10px;
			padding-right:15px;
		}

		& + section{
			@include media-query(62em){
				text-align: center;
				margin:0 auto;
			}
		}	
	}
}

/* Filters on mobile with no transforms */
.no-csstransforms{
	@include media-query(62em){
		.filters__list{
			right:-300px;

			&.open{
				right:0;
			}
		}	
	}
	
}