.resources{
	&__filter{
		margin-top:30px;

		form{
			input[type="checkbox"],
			input[type="radio"]{
				& + label{
					@include user-select(none);
				}
			}
		}

		.filters-button{
			margin-bottom:15px;

			@include media(medium-up){
				display:none;
			}
		}

		@include media(small-down){
			.backdrop.open{
		    	display:block;
		  	}
	  	}

		.filters__list{

			@include media(small-down){
				position:fixed;
				top:0;
				right:0;
				background-color:white;
				height:100%;
				z-index:20;
				padding:15px;
				width:320px;

				@include transition(all 0.3s ease);
				@include transform(translate(100%,0));

				&.open{
					@include transform(translate(0,0));
				    
				    margin:0;
				}

				&--elements{
					position:absolute;
					top:70px;
					left:0;
					bottom:120px;
					overflow-y: auto;
					padding:0;
				}
			}
			
			&--title{
				margin-bottom:30px;

				h6{
					color:$green;
				}				

				i{
					margin-right:10px;
				}

				@include media(medium-up){
					margin-bottom:0;

					h6{
						color:$body-color;
					}
				}
			}

			&--close{
				.close{
					margin-top: 8px;
					padding-top:0;
				}

				@include media(medium-up){
					display:none;
				}
			}	

			&--submit,
			&--clear{
				width:100%;
				position:absolute;				
				left:0;
				padding:0 30px;

				button{
					width:100%;
				}

			}	

			&--submit{
				bottom:65px;

				@include media(medium-up){
					display:none;
				}
			}

			&--clear{
				bottom:15px;				

				@include media(medium-up){
					position:static;
					margin-top:20px;
					margin-bottom:30px;
					padding:0 15px;
				}
			}	
			
			.collapse-container{
				

				.collapse-content{
					margin-top:10px;

					.row{
						margin:0;
					}

					@include media(small-down){
						.row>div{
							padding:0 30px;	
						}						
					}
				}

				button{
					display:block;
					width:100%;
					background:none;
					border:none;
					border-bottom:1px solid $meta-color;
					text-align:left;
					padding:10px 15px;

					color:$soft-label-color;

					i{
						float:right;
					    margin-top: 2px;
					}

					@include transition(all 0.3s ease);

					@include media(small-down){
						padding:10px 30px;
					}


					&:active,
					&:focus,
					&:hover{
						outline:none;
						background-color:$green;
						color:white;
					}
				}
			}
			
		}

		label{
			font:{
				family: $opensans;
				weight:400;
			}

			@include font-size(14px);
			padding-left:10px;
			padding-right:15px;
		}

		& + section{
			@include media(small-down){
				text-align: center;
				margin:0 auto;
			}
		}	
	}
}

/* Filters on mobile with no transforms */
.no-csstransforms{
	@include media(small-down){
		.filters__list{
			right:-300px;

			&.open{
				right:0;
			}
		}	
	}
	
}