.resources{
	&__filter{
		margin-top:30px;

		.collapse-container{
			margin-bottom:20px;
		}

		form{
			input[type="checkbox"],
			input[type="radio"]{
				& + label{
					@include user-select(none);
				}
			}
		}

		button{
			display:block;
			width:100%;
			background:none;
			border:none;
			border-bottom:1px solid $meta-color;
			text-align:left;
			padding:0;
			padding-bottom:5px;
			margin-bottom:10px;

			color:$soft-label-color;

			i{
				float:right;
			    margin-top: 5px;
			}
		}

		label{
			font:{
				family: $opensans;
				weight:400;
			}

			@include font-size(14px);
			padding-left:10px;
			padding-right:15px;
		}

		& + section{
			@include media-query(62em){
				text-align: center;
				margin:0 auto;
			}
		}	
	}
}