.formats{
	background-color:$light-green;
	text-align:center;	

	img{
		max-height:50px;
		margin:0 auto 20px;
	}

	span{
		font:{
			family: $lato;
			size: em(20);
		}
		color:white;
	}

	&__element{
		display:block;
		padding:30px 0;
		@include transition(all 0.3s ease);

		&:hover{
			text-decoration: none;
			opacity: 0.5;
			cursor:pointer;
		}
	}

	@include media(small-down){
		img{
			max-height:30px;
			margin:0 auto 10px;
		}

		span{
			font:{
				size: em(18);
			}
		}

		&__element{
			padding:20px 0;
		}
	}
}