.navbar{
	background:none;
	border:none;
	max-height:none;

	.menu-container{
		padding-top:10px;

		@include media-query(48em){ //768/16
			float:none!important;
		}
	}

	.navbar-nav{
		text-align:right;
		float:right;

		@include media-query(48em){ //768/16
			margin-top:0;
			margin-bottom:0;
		}

		font:{
			family:$lato;
			weight:400;			
		}

		button{
			padding:0;
			background:none;
			border:none;
		}

		.link-effect{
			width:100%;
			text-align:left;
		}


		li{
			float:none;
			display:inline-block;
			
			@include media-query(48em){ //768/16
				display:block;
				text-align: left;
				padding:0 20px;
				
				button{
					display:block;
					width:100%;
					text-align:left;
				}

				a,
				button{
					margin:0;					
				}
			}
		}

		a, button{
			padding:5px 0;
			color:white!important;
			@include transition(all 0.3s ease);
			border-bottom:2px solid transparent;

			&:hover,
			&:focus,
			&:active{
				border-bottom:2px solid $light-green;
				background:none!important;
			}
		}

		.active{
			a, button{
				background:none;
				border-bottom:2px solid $light-green;
			}			
		}
	}
	
	.big-nav,
	.small-nav{
		float:none;
		color:white;
	}

	.small-nav{
		font-size: em(14);		
		
		li{

			@include media-query-min(48em){
				margin-left:10px;
			}
			
			a{
				@include media-query-min(48em){ //768/16
					/* &:before{
						content:"|";
						padding-right:10px;
					} */
				}
				
			}
		}		
	}

	.big-nav{
		font-size: em(18);

		@include media-query-min(48em){ //768/16
			li + li{
				a, button{
					margin-left:20px;
				}
			}
		}
	}
}

.navbar-brand{
	display: block;
	height:auto;
	img{
		display: block;
		max-height:60px;
	}
}

.navbar-default{
	.navbar-toggle{
		border: none;
    	border-radius: 0;
	}
}

.header-container{
	&.home-page, &.painel, &.perfil{
		.navbar-default{
			.icon-bar{
				background-color:white!important;
			}
		}
	}

	.navbar-toggle{
    	&:hover,
    	&:focus{
    		background-color:white;

			.icon-bar{
				background: #888!important;
			}
    	}
	}
}

/* BOTTOM NAV */
footer{
	
	.bottom-nav{
		background-color:$light-green;
		padding:30px 0;

		ul{
			margin:0 0 0 30px;
			padding:0;
			list-style:none;
			display:inline-block;
			line-height:2;

			li{
				display:inline-block;
				& + li{
					margin-left:20px;
				}
			}

			a{
				color:white;

				font:{
					family: $lato;
				}

				@include font-size(16px);
			}

			@include media-query(48em){ //768/16
				text-align:center;
				display:block;
				margin:0 0 20px;
			}
		}

		button{
			margin-right:30px;

			@include media-query(48em){ //768/16
				float:none!important;
				display:block;
				margin:0 auto;
			}
		}
	}

	.copyright{
		text-align: center;
		background-color:$heading-color;
		color:white;
		padding:10px 0;
		@include font-size(12px);
		line-height:1.2;
	}
}

/* PROFILE OPTIONS */
.profile-nav{
	height:0;
	text-align:center;
	background-color:$light-background;
	ul {
		margin:0;
		padding:0;
		list-style:none;
		@include transform(translateY(-100%));

		li{
			display:inline-block;
		}
	}
}

/* DASHBOARD MENU */
.left-menu{
	margin-top:30px;

	@include media-query-min(62em){
		margin-bottom:30px;
	}

	h6{
		margin:30px 0 20px;
	}
	ul {
		margin:0;
		padding:0;
		list-style:none;

		li{
			display:block;

			a{
				color:$body-color;
				display:block;

				border-bottom:1px solid $meta-color;
				margin-bottom:10px;
				padding-bottom:5px;

				font-family: $lato;
				@include font-size(14px);

				i{
					float:right;
					@include font-size(12px);
					margin-top:5px;
				}

				@include transition(all 0.3s ease);

				&:hover,
				&:active,
				&:focus{
					color:$green;
					text-decoration:none;					
				}
			}

			&.active{
				a{
					color:$green;
					font-weight:bold;
				}
			}
		}
	}
}

/* ANIMATE NAVBAR */
.navbar{
	@include media-query(48em){
		.backdrop.open{
	    	display:block;
	  	}
  	}

  	.nav-container{
		.big-nav{
			@include media-query(48em){
				margin-top:15px;
  			}			
		}

  		&--close{
  			padding:10px 20px 0;
  			button,
  			span{
  				border:none;
  				&:hover,
  				&:active,
  				&:focus{
					border:none;
				}
  			}

  			@include media-query-min(48em){
				display:none;
  			}			
		}

		&--title{
			padding:10px 20px 0;
			h6{
				text-align:left;
				color:$green;
			}
			@include media-query-min(48em){
				display:none;
  			}
		}
  	}

	.navbar-nav.nav-container{

		@include media-query(48em){
			margin:0;

			position:fixed;
			top:0;
			right:0;
			height:100%;
			overflow-y:auto;
			background-color:white;
			width:300px;
			padding:0 15px;
			z-index:11;
			
			a,button{
				color:$body-color!important;
			}

			@include transition(all 0.3s ease);
			@include transform(translate(100%,0));

			&.open{
				@include transform(translate(0,0));
			    overflow-y: auto;
			}

			&:not(.open){

			}
		}
	}
}

.no-csstransforms{
	.navbar{
		.navbar-nav.nav-container{
			@include media-query(62em){
				position:fixed;
				top:0;
				right:-300px;

				&.open{
					right:0;
				}
			}
		}
	}
}