.ordering{
	select{
		width:auto;
		border-radius:0!important;
		display:inline-block;
		margin-bottom:15px;
		
		@include media-query(62em){
			max-width:150px;
		}

		@include media-query(48em){
			max-width:125px;
		}
		
	}

	label{
		padding-right:10px;
	}
	text-align:right;
}