.search-form{
	width:100%;
	margin-bottom:40px;

	.tags-search{
		display:block;
		margin-bottom:10px;
		min-height:39px;

		input{
			height:38px;
			width:auto;
		}
	}

	input,
	select,
	button{
		height:40px;
		width:100%;

		&:not(.react-tagsinput-input){
			margin-bottom:10px!important;
		}
	}
}

.filter-container{
	.search-form{
		margin-bottom:30px;
		padding-bottom:15px;
		border-bottom:1px solid $meta-color;
	}
}

@include media-query(75em){
	.search-container .cta i{
		display:none;
	}
}

.header-container{
	&:not(.home-page){
		& + .resource-detail-search{
			background-color:$light-background;

			.search-form{
				margin:30px 0;

				input,
				button,
				select{
					margin-bottom:0!important;
				}
			}
		}
	}
}

.tags-search{
	display:inline-block;
}

.single-search{
	margin:0 auto;
	text-align:center;
	input[type='text'],
	button{
		width:auto;
		border-radius:0;
		height:40px;
	}

	.tags-search{

		input{
			height:39px;
		}
	}

	.form-control{
		display:inline-block;
	}

	margin-bottom:30px;

	@include media-query(62em){
		margin-top:30px;

		input[type='text']{
		    max-width: 160px;
		}
	}
}