/* ==========================================================================
   Colors
   ========================================================================== */

// Grays
$heading-color: #1b1b1b;
$body-color: #51504f;
$soft-label-color: #6a696a;
$meta-color: #b4b4b4; 

// Greens 
$dark-green: #55974d;
$green: #83ae03;
$light-green: #aec03f;

// Backgrounds
$light-background: #f1f0f0;

// Stars rating
$star-color:#eba600;

/* ==========================================================================
   Decoration
   ========================================================================== */

// Boxes
$box-shadow:#A7A7A7;

/* ==========================================================================
   Spacing and media queries
   ========================================================================== */

/* Media queries */

$xsmall-range: (0, 768/16+em); // 0-48
$small-range: (769/16+em, 992/16+em); // 48-62
$medium-range: (993/16+em, 1200/16+em); // 62-75
$large-range: (1201/16+em); // 75
//$xlarge-range: (75em);

$screen: "only screen";